.sidebar {
  background-color: #000;
  height: calc(100vh - 135px);
}

.sidebarmenuitem {
  height: 40px;
  padding: 10px;
  margin-left: 16px;
  font-size: 20px;
}

.sidebarmenuitemactive {
  color: #fff;
}

.sidebarlogobg {
  background: #000;
  margin-bottom: 8px;
}

.exportedPrivKeys {
  width: 100%;
  max-height: calc(100vh - 400px);
}
